<footer>
    <div class="footer-container">
        <div class="about group">
            <h2>Kiara</h2>
            <p>UI/UX Designer <br>Front-end Developer</p>
           
        </div>
        <div class="hr"></div>
        <div class="info group">
            <h3>More</h3>
            <ul>
                <li><a href="#about">About Me</a></li>
                <li><a href="#portfolio">Projects</a></li>
                <li><a href="#contact">Contact</a> </li>
            </ul>
        </div>
        <div class="hr"></div>
        <div class="follow group">
            <h3>Follow</h3>
            <ul>
                <li> <a href="https://github.com/kiaracastillo"><i class="fa-brands fa-github"></i> </a></li>
                <li><a href="https://www.linkedin.com/in/kiara-castillo-magallanes-5a724326a/"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
        
    </div>
    <div class="footer-copyright group">
        <p>2026 by Kiara Iran Castillo Magallanes. All rights reserved.</p>
    </div>
</footer>

<script src="js/main.js"></script>