<header>
    <div class="nav-bar">
        <a href="/index.html" class="logo">KCM</a>

        <div class="navigation">
            <div class="nav-items">
                <div class="nav-close-btn"></div>

                <a href="/index.html#home">Home</a>
                <a href="/index.html#portfolio">Projects</a>
                <a href="/index.html#about">About me</a>
                <a href="/index.html#contact">Contact me</a>
            </div>
        </div>

        <div class="nav-menu-btn"></div>
    </div>
</header>